body{
   font-size: 16px !important;
   background-color: #171821 !important;
   color: #ffffff !important;
}

.top-nav{
    background-color: #020A0F;
}

.navbar-nav .nav-link{
    color: #ffffff;
}

.img-profile{
    max-width: 80px;
}

.card{
    background-color: #21222D !important;
}

.card-radius{
    border-radius: 16px !important;
}

.card-height{
    min-height: 340px !important;
}

.card-body-padding{
    padding: 32px !important;
}

.heading-1{
    font-size: 24px !important;
    line-height: 32px !important;
}

.heading-2{
    font-size: 20px !important;
    line-height: 24px !important;
}

p{
    font-size: 16px !important;
    line-height: 24px !important;
}

.text-small{
    font-size: 12px !important;
    line-height: 16px !important;
}

.table-config{
    color: #fff !important;
    border-color: #373b3e !important;
}

td{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

th{
    padding-bottom: 24px !important;
}

.page-link {
    position: relative;
    display: block;
    color: #fff !important;
    text-decoration: none;
    background-color: #21222D !important;
    border: 1px solid #373b3e !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar-toggler-icon{
    background-image: url(./Images/unsplash_7JX0-bfiuxQ.png) !important;
}

.margin-head{
        margin-right: 0 !important;
        margin-left: auto!important;
}